@{
    ViewData["Title"] = "Feedback dos Clientes";
}

<div class="feedback-container">

    <h1 class="feedback-title">O que nossos clientes dizem</h1>

    <div class="feedback-grid">

        <div class="feedback-card">
            <img src="~/images/Heleonora Santana.png" alt="Logo da Loja" class="feedback-img" />
            <p>"Muito boa essa ONG, esses jovens realmente se importam com o meio ambiente!"</p>
            <h4>- HELEONORA SANTANA</h4>
        </div>

        <div class="feedback-card">
            <img src="~/images/Renato da Silva.png" alt="Logo da Loja" class="feedback-img" />
            <p>"Essa ONG é incrível, com muitos feitos para o meio ambiente, parabéns aos donos!"</p>
            <h4>- RENATO DA SILVA</h4>
        </div>

        <div class="feedback-card">
            <img src="~/images/Fernanda Shiyo.png" alt="Logo da Loja" class="feedback-img" />
            <p>"Adorei esse site muito fácil acesso!"</p>
            <h4>-FERNANDA SHIYO</h4>
        </div>

        <div class="feedback-card">
            <img src="~/images/Amanda.png" alt="Logo da Loja" class="feedback-img" />
            <p>"Uma ONG bem organizada e estruturada combatendo a pouição nos mares."</p>
            <h4>- AMANDA CORREIA</h4>
        </div>

    </div>

</div>