@{
    ViewData["Title"] = "Sobre";
}

<div class="about-container">

    <div class="about-card">

        <h1 class="about-title">Sobre a Ultra-Marinha</h1>

        <img src="~/images/logo.png" alt="Logo da Loja" class="adm" />

        <p class="about-text">
            A <span class="brand">Ultra-Marinha</span>  é uma organização sem fins lucrativos dedicada à proteção dos oceanos, mares e da vida marinha.
            Trabalhamos para conservar e usar de forma sustentável os recursos marinhos, promovendo ações que garantam um futuro mais azul para todos.

        </p>

        <p class="about-text">
            Fundada por pessoas que além de amar o fundo do nosso Oceano se importam com toda a biodiversidade presente nele, nossa ONG desenvolve projetos de educação ambiental, campanhas de limpeza de praias, combate à poluição plástica e apoio a comunidades costeiras.
            Acreditamos que pequenas atitudes podem gerar grandes mudanças e que cuidar dos oceanos é cuidar da vida no planeta.
        </p>

        <img src="~/images/tartaruga.png" alt="Logo da Loja" class="adm" />

        <h3>PRINCIPAIS PROBLEMAS QUE NÓS ENFRENTAMOS </h3>

        <p class="principais-problemas">
            <span>-Poluição nos rios:</span>
            <br/>
            O descarte irregular de plásticos nos rios e mares prejudica o meio ambiente e causa a morte de muitos animais marinhos. Esses materiais poluem a água e podem ser ingeridos ou enroscar os animais, colocando suas vidas em risco.
            <br/>
            <span>-Caça de animais:</span>
            <br/>
            A caça de alguns animais marinhos para a produção de objetos de uso pessoal pode diminuir muito a quantidade desses seres na natureza, levando até à extinção de algumas espécies.
        </p>
        <br/>
        <h3>NOSSA PRINCIPAIS METAS</h3>
        <br/>
        <img src="~/images/lixo1.png" alt="Logo da Loja" class="meta" />
        <img src="~/images/lixo2.png" alt="Logo da Loja" class="meta" />
        <img src="~/images/lixo3.png" alt="Logo da Loja" class="meta" />
        <p class="principais-metas">
            <span>1- PROTEGER ESPÉCIES MARINHAS AMEAÇADAS:</span>
            <br/>
            <ul>
                <li>Desenvolver programas de resgate e reabilitação para tartarugas, golfinhos, peixes-boi e outras espécies em risco.</li>
            </ul>
            <br/>
            <span>2- REDUZIR  O LIXO DO OCEANO:</span>
            <br/>
            <ul>
                <li>Promover campanhas mensais de limpeza de praias e rios.</li>
                <li>Instalar pontos de coleta seletiva em áreas costeiras.</li>
                <li>Conscientizar comunidades sobre o descarte correto de resíduos.</li>
            </ul>
            <br/>
            <span> 3-EDUCAR A POPULAÇÃO SOBRE A IMPORTÂNCIA DOS OCEANOS:</span>
            <br/>
            <ul>
                <li>Realizar palestras e oficinas em escolas e universidades.</li>
                <li>Produzir materiais educativos digitais e físicos.</li>
                <li>Criar projetos de educação ambiental voltados para crianças e jovens.</li>
            </ul>
            <br/>
            <span>4-COMBATER A POLUIÇÃO MARINHA:</span>
            <br/>
            <ul>
                <li>Incentivar o uso de alternativas sustentáveis a produtos plásticos.</li>
                <li>Firmar parcerias com empresas e prefeituras para políticas de redução de poluentes.</li>
            </ul>
            <br/>
            <span> 5- INCENTIVAR A PESQUISA CIENTÍFICA E MONITORAMENTO AMBIENTAL:</span>
            <br/>
            <ul>
                <li>Apoiar estudos sobre o impacto das mudanças climáticas na vida marinha.</li>
                <li>Monitorar espécies e qualidade da água em áreas costeiras e recifes de coral..</li>
            </ul>
            <br />
            <span> 6-ENGAJAR VOLUNTÁRIOS E COMUNIDADES LOCAIS:</span>
            <br />
            <ul>
                <li>Criar programas de voluntariado fixos e ações pontuais.</li>
                <li>Oferecer oficinas de formação para líderes ambientais comunitários.</li>
            </ul>
            <br />
            <span> 7-PROMOVER O TURISMO ECOLÓGICO SUSTENTÁVEL:</span>
            <br />
            <ul>
                <li>Desenvolver e divulgar roteiros de turismo ecológico que respeitem a vida marinha.</li>
                <li>Oferecer passeios educativos com guias especializados, focados na observação consciente da fauna e flora marinha.</li>
                <li>Criar parcerias com operadoras de turismo para práticas responsáveis, como o não-uso de produtos poluentes e respeito às áreas de preservação.</li>
            </ul>
        </p>
        <br />
        <h3>POR TRÁS DA NOSSA ONG!</h3>
        <br/>
        <img src="~/images/camila.png" alt="Logo da Loja" class="adm"/>
        <h4>CAMILA DEODATO</h4>
         <img src="~/images/caio.png" alt="Logo da Loja" class="adm"/>
        <h4>CAIO ROBES</h4>
        <img src="~/images/pedro.png" alt="Logo da Loja" class="adm"/>
        <h4>PEDRO PERLATTI</h4>
        <img src="~/images/tavinho.png" alt="Logo da Loja" class="adm" />
        <h4>JOAO SERAFIM</h4>

    </div>

</div>